.MuiImageListItem-img {
    border-radius: 12px;
    object-fit: cover;
}

.MuiImageListItem-root {
    width: 100%;
    transition: all 1100ms;
}

.MuiImageListItem-root:hover >  .MuiImageListItemBar-root{
    opacity: 1;
    transition: all 300ms;
}

.MuiTabs-flexContainer {
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}